MediaPlayer/bin/Debug/NAudio.dll
MediaPlayer/bin/Debug/NAudio.xml
MediaPlayer/bin/Debug/SoundVisualizer.exe.config
MediaPlayer/obj/Debug/MediaPlayer.MainScreen.resources
MediaPlayer/obj/Debug/SoundVisualizer.Properties.Resources.resources
MediaPlayer/obj/Debug/SoundVisualizer.csproj.FileListAbsolute.txt
MediaPlayer/obj/Debug/SoundVisualizer.exe
MediaPlayer/obj/Debug/SoundVisualizer.g.resources
